<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head', title); -%>
	</head>
	<body>
		<%- include('header') -%> 준비 중입니다.

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<footer>
			<%- include('footer'); -%>
		</footer>
	</body>
</html>
