<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="UO6OLT2N7P9UezD_Tn6feAZK1vxVbo0NCej4PBrik8E"
    />
    <title>서버 동아리 AnA</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <script defer src="../scripts/main.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <h1>환영합니다.</h1>
      <img src="../pictures/mj.jpg" alt="micheal jordan" />
      <img src="../pictures/sunrin.jpg" alt="선린" class="spin" />
      <h1>AnA 동아리로 오세요,,,@@@</h1>
      <h2>와! 즐겁다!!</h2>

      <img src="../pictures/sans.jpg" alt="sans" class="spin" />

      <img src="../pictures/luka.jpg" alt="luka doncic" />
      <img src="../pictures/bonobono.jpg" alt="보노보노" class="bonobono" />
      <img src="../pictures/nba.jpg" alt="nba" class="nba" />
      <img src="../pictures/ke.jpg" alt="케장콘" class="ke" />
      <a href="/imsorry" class="click">여길 눌러보세요.</a>
    </div>
  </body>
</html>
